[user]
    name = Aaron Meurer
    email = asmeurer@gmail.com

[color]
    diff  = auto
    status= auto
    branch= auto
    interactive = true

[color "diff"]
    new = white
[alias]
    ci = commit --interactive
    di = diff --color-words
    st = status
    co = checkout
    pu = push github :
    logl = log --pretty=oneline --abbrev-commit
    gr = grep -i --color -n -E
    backup = !git-backup.sh
    backups = !git fsck --unreachable | grep commit | cut -d' ' -f3 | xargs git log --merges --no-walk --grep='Backup Commit' --stat
    fe = fetch --all
    weekreport = shortlog --since=1.weeks --author=asmeurer
    dayreport = shortlog --since=1.days --author=asmeurer
    br = branch --sort=committerdate
    detach = !git checkout $(git rev-parse HEAD)
    bl = blame -CCC -M
    lg = log --graph --topo-order --use-mailmap --stat --decorate
    sw = show --color-words
    psh = !git pull --no-edit && git push
    com = commit
    dif = diff
    difff = diff
    pulll = pull
    pusho = push --set-upstream origin HEAD
    reset--hard = !git backup && git reset --hard

[i18n]
    commitEncoding = utf-8
[push]
    default = tracking
[github]
    user = asmeurer
[rerere]
    enabled = true

[credential]
    helper = cache
[core]
    precomposeunicode = true
[pager]
    log = ~/Documents/git/contrib/diff-highlight/diff-highlight | less
    show = ~/Documents/git/contrib/diff-highlight/diff-highlight | less
    diff = ~/Documents/git/contrib/diff-highlight/diff-highlight | less
