[user]
    name = Aaron Meurer
    email = asmeurer@gmail.com

[color]
    diff  = auto
    status= auto
    branch= auto
    interactive = true

[color "diff"]
    new = white
[alias]
    ci = commit --interactive
    di = diff --color-words
    st = status
    co = checkout
    pu = push github :
    logl = log --pretty=oneline --abbrev-commit
    gr = grep -i --color -n -E
    backup = !git-backup.sh
    fe = fetch --all
    weekreport = shortlog --since=1.weeks --author=asmeurer
    br = branch
    detach = !git checkout $(git rev-parse HEAD)
    bl = blame -CCC -M
    lg = log --graph --topo-order --use-mailmap --stat --decorate
    sw = show --color-words
    psh = !git pull --no-edit && git push
    com = commit
    dif = diff
    difff = diff

[sendemail]
    o = sympy-patches@googlegroups.com
    envelopesender = asmeurer@gmail.com
    smtpserver = smtp.gmail.com
    smtpuser = asmeurer@gmail.com
    smtpssl = true
    aliasfiletype = mailrc
[i18n]
    commitEncoding = utf-8
[push]
    default = tracking
[github]
    user = asmeurer
[rerere]
    enabled = true

[credential]
    helper = cache
[core]
    precomposeunicode = true
