set show-all-if-ambiguous on
set completion-ignore-case on
set meta-flag on
set convert-meta off
set output-meta on
set bell-style visible
# See http://docs.freebsd.org/info/readline/readline.info.Readline_Init_File.html for more information
"\ep": history-search-backward
"\eP": history-search-forward
# Type this to reload this file
\C-x\C-r": re-read-init-file
# Prevent "Display all NNN possibilities? (y or n)" on tab complete
set completion-query-items 0
